.illu{
    background-color: var(--jaune);
    display: flex;
    justify-content: space-around;

}

.illu__img{

    align-self:center;
    width: 50%;
}


.illu__img2{
    align-self:center;
    width: 25%;
}

.illu__img3{
    width: 20%;
    height: 20%;
    padding-top: 3%;
}

.illu__img4{
    width: 20%;
    height: 20%;
    padding: 3% 0%;
}