.legende {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	line-height: 5em;
	color: black;
	background-color: rgba(255, 255, 255, 0.55);
	top: 0;
	display: none;
}	